#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

menu "Device display"
menuconfig THINGSEE_DISPLAY_MODULE
    bool "Thingsee display module support"
    default n
    ---help---
        Enable the Thingsee application support display

if THINGSEE_DISPLAY_MODULE

config THINGSEE_DISPLAY_TRACES
    bool "Enable trace support for display"
    default n
    ---help---
        Enables trace support for display

config THINGSEE_DISPLAY_BKGND_COLOR
    int "Background color used in apps"
    default 0
    ---help---
        Background color used in application

config THINGSEE_DISPLAY_FOREGND_COLOR
    int "Foreground color used in apps"
    default 1
    ---help---
        Foreground color used in apps

config THINGSEE_DISPLAY_QR
    bool "Thingsee support for qr code"
    default n
    ---help---
        Enable test-algorithm for qr code. At the moment the version of this algorithm is not even alpha

if THINGSEE_DISPLAY_QR
    config THINGSEE_MASKING_OFF
        bool "Turns off masking calculating"
        default n
        ---help---
            Turns off masking calculation. Every single mask is intend to remove noise and depricated features
            from the symbol. BUT it is significatly slowing down the symbol generating process. Most of the vendors
            just hardcode a random mask that might be a problem in a very noisy environment while the one trying to
            decode a symbol
endif

# This definition is not about image module. But in future it must be placed under IMAGE_MODULE macro definition
config THINGSEE_DISPLAY_INC_IMG_EXAMPLE
    bool "Image example to play with"
    default n
    ---help---
        This option includes image example if needed

config THINGSEE_DISPLAY_INVERT
    bool "Enable support for screen zone inverting"
    default n
    ---help---
        This option enables support for inverting user defined zone on the screen

config THINGSEE_DISPLAY_ALIGNMENT
    bool "Activate support for the text alignment"
    default n
    ---help---
        This option activates text alignment support. It will reduce possible flickering, but at the same time will slow down
        the rendering process due to the need of more calculations to be done before rendering process

endif
endmenu
