#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

config SYSTEM_PROPERTIES_INT
    bool "System properties interface"
    default n
    ---help---
        Enables system properties interface
