#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#
config BATTERY
	bool "Battery support"
	default n

config BATTERY_NPOLLWAITERS
	int "Number of waiters to poll"
	default 1
	depends on BATTERY

config BQ2742X
	bool "BQ2742x battery fuel gauge support"
	default n
	select I2C
	depends on BATTERY
	---help---
		BQ2742x is a single-cell battery fuel gauge with pre-programmed chemistry
		profiles. Supports configurable interrupts.

config BQ2742X_DEBUG
	bool "Enable trace support for BQ2742x fuel gauge"
	default n
	depends on DEBUG
	depends on BQ2742X

config MAX1704X
	bool "MAX1704X battery fuel gauge support"
	default n
	select I2C
	select I2C_MAX1704X
	depends on BATTERY
	---help---
		The MAX17040/MAX17041 are ultra-compact, low-cost, host-side fuel-gauge
		systems for lithium-ion (Li+) batteries in handheld and portable equipment.
		The MAX17040 is configured to operate with a single lithium cell and the
		MAX17041 is configured for a dual-cell 2S pack.

config I2C_MAX1704X
	bool
	default y if MAX1704X

config BQ24251_CHARGER
    bool "Charger driver support BQ24251 RGE"
    default y

if BQ24251_CHARGER
    config DEBUG_BQ24251_CHARGER
        bool "Support trace mode for the charger driver"
        default n
    config BQ24251_NPOLLWAITERS
        int "Number of waiters to poll"
        default 1
endif # BQ24251
