# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

config THINGSEE_UI
    bool "Thingsee UI"
    default n
    ---help---
        Enable Thingsee UI

if THINGSEE_UI
    config THINGSEE_UI_DFU_MODE
        bool "Enable reboot to DFU-mode feature"
        default n
        ---help---
            Enable menu-item for rebooting into DFU-mode

    config THINGSEE_UI_DEBUG
        bool "Enable UI debug traces"
        default n
        ---help---
            Enable UI debug traces
endif
