#include "../retail/defconfig"

CONFIG_THINGSEE_ENGINE_DBG=y
CONFIG_THINGSEE_CONNECTORS_DEBUG=y
CONFIG_THINGSEE_UI_DFU_MODE=y
CONFIG_SYSTEM_CONMAN_DEBUG=y
CONFIG_SYSTEM_UBGPS_DEBUG=y
CONFIG_BOARD_INITIALIZE_USB_SERIAL=y
CONFIG_BOARD_RND_USE_USB_CONSOLE=y
