source "$APPSDIR/tests/default_conman/Kconfig"
source "$APPSDIR/tests/testing/Kconfig"
source "$APPSDIR/tests/unity/Kconfig"
source "$APPSDIR/tests/unity_conman/Kconfig"
source "$APPSDIR/tests/unity_dev_err/Kconfig"
source "$APPSDIR/tests/unity_host/Kconfig"
source "$APPSDIR/tests/unity_libm/Kconfig"
source "$APPSDIR/tests/unity_pwrbtn/Kconfig"
source "$APPSDIR/tests/unity_ramtest/Kconfig"
source "$APPSDIR/tests/unity_usrsock/Kconfig"
